body {
  font-family: "Epilogue", Verdana, Tahoma;
  font-size: 18px;
  max-width: 1440px;
  height: 100vh;
  max-height: 700px;
  background-color: hsl(0, 0%, 98%);
}
* {
  box-sizing: border-box;
}
header {
  width: 100%;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#logo {
  margin-left: 35px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  
}
nav ul li {
  list-style: none;
  margin: 0 40px 0 0px;
}
nav ul li:nth-of-type(5) {
  margin-left: 430px;
}
nav ul li .arrow {
  margin-bottom: 1px;
}
nav ul .button {
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid hsl(0, 0%, 41%);
}
nav ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
nav ul .button:hover {
  border: 2px solid hsl(0, 0%, 8%);
}
nav ul li a:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}
.sub-menu {
  position: absolute;
}
.sub-menu ul{
  display: block;
  margin: 10px 0 0 -75px;
  background: hsl(0, 0%, 98%);
  box-shadow: 0px 0px 30px 0px hsl(0, 0%, 41%);
  border-radius: 15px;
  width: 165px;
  padding: 6px 0;
  display: none;
}
.sub-menu .company {
  margin: 10px 0 0 -2px;
  width: 130px;
}
.sub-menu ul li {
  width: 100%;
  margin: 10px 0 10px 20px;
}
.sub-menu ul li img {
  margin-right: 5px;
}
.menu:hover .sub-menu ul {
  display: block;
}
.menu:hover .arrow {
  transform: rotate(180deg)
}
#image {
  display: none;
}
#image-2 {
  width: 425px;
  height: 550px;
  margin: 30px 0 0 50px;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
article {
  width: 45%;
}
article section {
  margin: 130px 0 0 140px;
}
article section h1 {
  font-size: 60px;
  margin: 25px 60px 0 0;
  color: hsl(0, 0%, 8%);
}
article section p {
  margin: 40px 40px 40px 0;
  line-height: 30px;
  color: hsl(0, 0%, 41%);
}
article section button {
  margin: 0 0px 40px 0;
  font-size: 18px;
  padding: 10px 25px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border-radius: 15px;
  border-color: hsl(0, 0%, 8%);
}
article section button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  border-color: hsl(0, 0%, 8%);
  cursor: pointer;
}
.last {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.log {  
  margin-right: 30px;  
  width: 85px;  
  height: 13px;  
} 
.two {
  width: 50px;
  height: 25px;
}
.three {
  width: 60px;
}
.four {
  width: 50px;
  height: 15px;
}
#menu-open, #menu-close {
  display: none;
}
@media (max-width: 950px) {
  body {
    width: 375px;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
  }
  header {
    width: 100%;
    margin-top: 20px;
  }
  #image-2 {
    display: none;
  }
  #logo {
    margin: 5px 0 0 20px;
  }
  #menu-open, #menu-close, #image {
    display: block;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 375px;
    height: 750px;
    background-color: hsla(0, 0%, 8%, 0.5);
    position: absolute;
    top: 0;
    display: none;
  }
  #menu-open {
    margin: -35px 0 0 320px;
    cursor: pointer;
  }
  #menu-close {
    position: absolute;
    margin: 20px 0 0 325px;
    cursor: pointer;
  }
  nav ul {
    display: block;
    margin: 0 0 0 133px;
    background-color: white;
    width: 65%;
    height: 100%;
    padding-top: 50px;
  }
  nav ul li {
    margin: 30px 0 0 -20px;
  }
  nav ul li .arrow {
    margin-left: 10px;
  }
  .sub-menu {
    position: relative;
  }
  .sub-menu ul {
    box-shadow: none;
    border: none;
    background-color: transparent;
    margin: 0px 0 -10px 0;
    padding: 0;
  }
  .sub-menu ul li {
    margin: 20px 0 0px 25px;
    padding: 0;
  }
  .sub-menu .company {
    margin: 10px 0 -10px 0;
  }
  nav ul li:nth-of-type(5) {
    margin-left: 50px;
  }
  nav ul .button {
    margin-left: -20px;
    margin-right: 25px;
    padding: 10px 60px;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  #image {
    width: 375px;
    margin: 30px 0px 0 0px;
  }
  article {
    width: 375px;
  }
  article section {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  article section h1 {
    font-size: 35px;
    margin: 40px 0 0 0;
  }
  article section p {
    margin: 20px 0 0 0;
  }
  article section button {
    margin: 20px 0 0 0;
  }
  article section.last {
    margin: 40px 0 0 20px;
  }



  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #image-2 {
      width: 425px;
      height: 550px;
      position: absolute;
      right: 0;
      margin: 50px 140px 0 0;
    }
  }
  @-moz-document url-prefix() {
    #image-2 {
      width: 425px;
      height: 550px;
      position: absolute;
      right: 0;
      margin: 100px 140px 0 0;
    }
  }
}  

  
  
  
